<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Vaša donacija od <%= @donation.amount %> <%= @donation.currency %> je uspešno primljena.</p>

    <p>
    <i style="font-size: 11px;">Islamska zajednica Bosnjaka u Nurnbergu</i>
    <br />
    <i style="font-size: 11px;">Turnerheimstr. 48, 90441 Nurnberg</i>
    </p>
  </body>
</html>